__pycache__/
*.py[cod]
*.so

.venv/
venv/
env/
.python-version

.ipynb_checkpoints/

data/*
!data/README.md

build/
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc

.DS_Store
Thumbs.db
